@import './resonsive.scss';

$fontStack:"Open Sans","Helvetica Neue",Helvetica,Arial,"Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
$yellow:#FCD054;
$bggray:#F8F8F8;
$green:#A3DB5D;
$black:#333;
$fontgray:#818181;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  color:$black;
  font:16px/1.5 $fontStack;
  user-select:none;
}
.layout{
  width:90%;
  margin:0 auto;
  text-align: center;
}
.clearfix:after{
  content:'';
  display:block;
  clear: both;
}
.btn{
  display:inline-block;
  padding:0.8rem 1.5rem;
  margin:0.5rem;
  border-radius:2px;
  font-weight:600;
  cursor:pointer;
}
.btn.sec{
  background: $yellow;
  transition:all 0.5s;
  color:#fff;
  border:1px solid darken($yellow,10%);
  &:hover{
    background: darken($yellow,10%);
    transition:all 0.5s;
  }
}
.btn.pri{
  border:1px solid #fff;
  transition:all 0.5s;
  color:#fff;
  &:hover{
    color:#333;
    background: #fff;
    transition:all 0.5s;
  }
}

#header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:70px;
  background: #fff;
  z-index:100;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  .header-ct{
    width:100%;
    position:relative;
  }
  .logo-ct{
    width:180px;
    height:70px;
    float:left;
    .logo{
      width:180px;
      height:70px;
    }
  }
  .nav-toggle{
    position:absolute;
    top:0;
    right:1.5rem;
    width:70px;
    height:70px;
    line-height:70px;
    text-align: right;
    i{
      font-size:1.5rem;
    }
  }
  .nav-ct{
    float:right;
    height:70px;
    line-height:70px;
    .navlist{
      li{

        a{
          color:$black;
          cursor:pointer;
          transition:all 0.5s;
          &:hover{
            color:$yellow;
            transition:all 0.5s;
          }
        }
      }
      li.active{
        border-top:3px solid $yellow;
        a{
          color:$yellow;
          transition:all 0.5s;
        }
      }
    }
  }
}

#carousel{
  overflow:hidden;
  position:relative;
  width:100%;
  margin-top:70px;
  .carousel{
    display:none;
    overflow:hidden;
    .imglist{
      .imgitems{
        position:absolute;
        background-size:cover;
        width:100%;
        height:100%;
        opacity:0;
        transition:opacity 1s;
        &:nth-child(1){
          background-image:url('../img/1.jpeg');
        }
        &:nth-child(2){
          background-image:url('../img/2.jpeg');
        }
        &:nth-child(3){
          background-image:url('../img/3.jpeg');
        }
      }
      .imgitems.active{
        opacity:1;
      }
    }
    .carousel-text{
      width:80%;
      text-align: center;
      position:absolute;
      top:50%;
      left:50%;
      z-index:99;
      transform: translate(-50%,-50%);
      color:#fff;
      h1{
        font-size:3.5rem;
        letter-spacing: 3px;
        margin-bottom:1rem;
        text-shadow:0 2px 8px rgba(0, 0, 0, 0.15);
        transform-style: preserve-3d;
        perspective: 600px;
        span{
          display:none;
        }
        span.active{
          display:inline-block;
          animation: animationStyle1 1s ease-in-out forwards;
          backface-visibility: hidden;
          transition: all .4s cubic-bezier(.2, .85, .4, 1.275);
          transform-origin: 50% 50%;
        }
      }
      p{
        text-shadow:0 2px 8px rgba(0, 0, 0, 0.15);
        margin-bottom:1rem;
        line-height: 2;
      }
    }
    .img-mask{
      img{
        display:none;
      }
      &:after{
        content:"";
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display: block;
        background-color: rgba(0,0,0,0.3);
        overflow:hidden;
        z-index:98;
      }
    }
  }
}

#product{
  background:$bggray;
  padding:8% 0;
  .product-ct{
    height:100%;
    .product-header{
      margin-bottom:1rem;
      font-weight:700;
      .text-point{
        margin:0 0.5rem;
      }
    }
    .productlist{
      height:100%;
      width:100%;
      li{
        box-shadow: 1px 1px 3px #ccc;
        overflow: hidden;
        cursor:pointer;
        transition:all 0.3s;
        &:hover{
          box-shadow: 3px 5px 5px #ccc;
          transition:all 0.3s;
        }
        &:nth-child(1){
          .p-icon{
            color:$green;
          }
        }
        &:nth-child(2){
          .p-icon{
            color:$yellow;
          }
        }
        .content-ct{
          width:100%;
          height:100%;
          display:table;
          .p-icon{
            i{
              font-size:5rem;
            }
          }
          .p-info{
            height:100%;
            text-align:left;
            padding-left:0.8rem;
            h4{
              letter-spacing: 1px;
            }
            p{
              color:#777;
            }
          }
        }
      }
    }
  }
}

#advantage{
  padding:8% 0;
  background:#fff;
  .advantage-ct{
    height:100%;
    .adv-text-ct{
      width:100%;
      p{
        color:$fontgray;
        margin: 1rem;
        span{
          color:$yellow;
        }
      }
    }
    .advantagelist{
      width:100%;
      height:100%;
      li{
        height:100%;
        float:left;
        background: #F6F6F6;
        border-radius:8px;
        backface-visibility: hidden;
        position:relative;
        cursor:pointer;
        &:hover .flip-over{
          transform: rotateY(0);
          z-index: 1;
        }
        &:hover .adv-icon-ct{
          transform: rotateY(180deg);
          z-index: -1;
        }
        &:nth-child(1),&:nth-child(3){
          .flip-over{
            background:#FFDA44;
          }
        }
        &:nth-child(2),&:nth-child(4){
          .flip-over{
            background:#a3db5d;
          }
        }
        .adv-icon-ct{
          width:80%;
          perspective: 600px;
          backface-visibility: hidden;
          transition: all .4s cubic-bezier(.2, .85, .4, 1.275);
          transform: rotateY(0);
          z-index: 99;
          .adv-icon{
            display:inline-block;
            border-radius: 50%;
            background:$black;
            color:#fff;
            width:80px;
            height:80px;
            line-height:80px;
            i{
              font-size:2.5rem;
            }
          }
          h3{
            padding:1rem 0 0.5rem 0;
            letter-spacing: 1px;
          }
          p{
            font-size:0.8rem;
            color:$fontgray;
          }
        }
        .flip-over{
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          perspective: 600px;
          backface-visibility: hidden;
          transition: all .4s cubic-bezier(.2, .85, .4, 1.275);
          transform: rotateY(-180deg);
          z-index: -1;
          overflow:hidden;
          border-radius:8px;
          .cont-ct{
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            padding:1rem;
            h4{
              letter-spacing: 1px;
              padding:5px 0;
            }
            p{
              color:#555;
              text-align: left;
              font-size:0.8rem;
            }
          }
        }
      }
      li.animate{
        animation: animationStyle2 ease-in-out forwards;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            animation-duration: 550ms;
            animation-delay: (150ms * $i) - 150;
          }
        }
      }
    }
  }
}

#about{
  background: $bggray;
  padding:8% 0;
  .about-ct{
    height:100%;
    .about-intro{
      text-align:left;
      width:100%;
      .about-info{
        width:100%;
        height:100%;
        float:left;
        h1{
          margin-bottom:1rem;
        }
        p{
          color:$fontgray;
          font-size:0.9rem;
          line-height:2;
        }
      }
      .aboutlist{
        width:100%;
        float:left;
        margin:1.5rem 0;
        li{
          margin-bottom:1rem;
          cursor:pointer;
          border-bottom: 1px solid #ccc;
          transition:all 0.5s;
          &:hover{
            color:$yellow;
            transition:all 0.3s;
          }
          .about-text{
            padding:5px 0;
            .text-line{
              i{
                font-size:18px;
              }
            }
            p{
              color:$fontgray;
              font-size:0.9rem;
            }
            span{
              margin-left:5px;
            }
            .text-detail{
              display:none;
            }
          }
        }
      }
    }
    .stat{
      li{
        float:left;
        border:1px solid #ccc;
        width:24.2%;
        margin-left:1%;
        padding:1rem 0;
        &:nth-child(1){
          margin-left:0;
        }
        h1{
          font-size:1.5rem;
          color:$yellow;
          letter-spacing: 2px;
        }
      }
    }
  }
}
#news{
  background: #fff;
  padding:8% 0;
  .news-ct{
    height:100%;
    .newslist{
      li{
        float:left;
        transition:all 0.5s;
        cursor:pointer;
        box-shadow:1px 1px 5px #ccc;
        position:relative;
        a{
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          width:100%;
          height:100%;
        }
        &:hover{
          transform:scale(1.1);
          transition:all 0.5s;
          z-index:10;
          .news-image{
            &:before{
              background:$yellow !important;
            }
          }
          .news-intro-ct{
            background: $yellow;
            .news-detail{
              background:#fff;
              color:darken($yellow,10%);
              border:none !important;
            }
          }
        }
        &:nth-child(1){
          .news-image{
            background-image:url('../img/5.jpg');
            background-size:cover;
            &:before{
              content:'行业指南';
              background:#A7C8F1;
            }
          }
        }
        &:nth-child(2){
          .news-image{
            background-image:url('../img/6.jpg');
            background-size:cover;
            &:before{
              content:'业内观察';
              background:#E8C1F2;
            }
          }
        }
        &:nth-child(3){
          .news-image{
            background-image:url('../img/7.jpg');
            background-size:cover;
            &:before{
              content:'公司新闻';
              background:$green;
            }
          }
        }
        .news-image{
          width:100%;
          height:70%;
          position:relative;
          overflow: hidden;
          &:before{
            display:block;
            width:200px;
            height:30px;
            line-height:30px;
            transform-origin:100% 100%;
            transform:rotateZ(-45deg);
            margin-top:-60px;
            margin-left:-90px;
            color:#fff;
            font-size:0.9rem;
            position:absolute;
          }
          img{
            width:100%;
            height:100%;
          }
        }
        .news-intro-ct{
          width:100%;
          height: 30%;
          background:#F7F7F7;
          .news-intro{
            width: 100%;
            height:100%;
            display: table;
            position:relative;
            .news-info{
              padding:0 1rem;
              display:table-cell;
              vertical-align: middle;
              h3{
                text-align: left;
                font-weight:500;
                overflow:hidden;
                text-overflow:ellipsis;
              }
              p{
                color:$fontgray;
                font-size: 0.8rem;
              }
              .news-detail{
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                right:1rem;
                height:3rem;
                width:3rem;
                line-height:3rem;
                border:1px solid #ccc;
                border-radius:50%;
                font-size:0.8rem;
              }
            }
          }
        }
      }
    }
  }
}
#partner{
  background:$bggray;
  padding:8% 0;
  .partner-ct{
    .partnerlist{
      li{

      }
    }
  }
}
#contact{
  background:#fff;
  padding:8% 0;
  .contact-ct{
    .contact-info-ct{
      .contact-map{
        #dituContent{
          border:1px solid #ccc;
          width:100%;
          height:350px;
        }
      }
      .contact-info{
        text-align: left;
        line-height: 2;
        font-style:italic;
        padding:2rem 3rem;
        h3{
          margin-bottom:1rem;
          font-style: normal;
        }
        .con{
          margin-bottom:1rem;
          color:$fontgray;
          span{
            width:40px;
            float:left;
            margin-top:-8px;
            i{
              font-size:1.6rem;
            }
          }
          .concon{
            display:inline-block;
            a{
              color:$yellow;
              font-style:italic;
            }
          }
        }
      }
    }
  }
}
#footer{
  padding:2rem 0;
  background: $black;
  color:#fff;
}



@keyframes animationStyle1 {
  0% {
    opacity: 0.8;
    transform: rotateX(-180deg);
  }
  85% {
    opacity: 1;
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes animationStyle2 {
  0% {
    opacity: 0;
    transform: translateY(180px);
  }
  100% {
    opacity: 1;
    transform:translateY(0);
  }
}

@-webkit-keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}







.loader-ct{
  background:#181818;
  width:100%;
  height:100%;
  position: relative;
  .loader-inner{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }
}


@-webkit-keyframes pacman-balls {
  75% {
    opacity: 0.7; }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px); } }

@keyframes pacman-balls {
  75% {
    opacity: 0.7; }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px); } }

.pacman {
  position: relative; }
.pacman > div:nth-child(2) {
  -webkit-animation: pacman-balls 2s 0s infinite linear;
  animation: pacman-balls 1s 0s infinite linear; }
.pacman > div:nth-child(3) {
  -webkit-animation: pacman-balls 2s 0.5s infinite linear;
  animation: pacman-balls 1s 0.25s infinite linear; }
.pacman > div:nth-child(4) {
  -webkit-animation: pacman-balls 2s 1s infinite linear;
  animation: pacman-balls 1s 0.5s infinite linear; }
.pacman > div:nth-child(5) {
  -webkit-animation: pacman-balls 2s 1.5s infinite linear;
  animation: pacman-balls 1s 0.75s infinite linear; }
.pacman > div:first-of-type {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  border-left: 25px solid #fff;
  border-bottom: 25px solid #fff;
  border-radius: 25px; }
.pacman > div:nth-child(2), .pacman > div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5) {
  background-color: #fff;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform: translate(0, -6.25px);
  -ms-transform: translate(0, -6.25px);
  transform: translate(0, -6.25px);
  top: 25px;
  left: 100px; }

